.professionals {
    width: 100%;
    min-height: 100dvh;
    padding-top: 20px;
    background-color: #161616;    
    color: #fff;
}

.professionals h2 {
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 8vw, 36px);
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.professionals h1 {
    display: flex;
    justify-content: center;
    font-size: clamp(32px, 16vw, 72px);
    margin: 0;
    padding: 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.prof-swiper {
    max-width: 70%;
    padding: 20px 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.prof-img {
    max-height: 50dvh;
    border-radius: 10px;
}

.prof-slide {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #006539 !important; /* your custom color */
  height: 70px !important;
}

.swiper-pagination-bullet {
  background-color: #ccc !important; /* inactive color */
  opacity: 1 !important; /* make them fully visible */  
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #006539 !important; /* active bullet color */
}

.prof-name {
    font-size: 24px;
}

.prof-role {
    font-size: 18px;
}

.character-img {
    display: none;
}

@media (max-width: 480px) {
    .professionals {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .professionals h1 {
        padding: 0;
    }

    .prof-swiper {
        max-width: 80%;
    }

    .prof-img {
        height: 45dvh;
        width: 70dvw;
        border-radius: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 50px !important;
    }

    .character-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .character-img img {
        max-height: 60dvh;
        border-radius: 100%;
        padding-top: 10%;
    }
}