.professionals {
    width: 100dvw;
    height: 100dvh;
    padding-top: 20px;
    background-color: #919c9d;
}

.professionals h1 {
    display: flex;
    justify-content: center;
    color: #31331f;
    font-size: 40px;
}

.prof-swiper {
    max-width: 85%;
    padding: 20px 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.prof-img {
    max-height: 50dvh;
    border-radius: 10px;
}

.prof-slide {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #d5cdbc !important; /* your custom color */
  height: 70px !important;
}

.swiper-pagination-bullet {
  background-color: #ccc !important; /* inactive color */
  opacity: 1 !important; /* make them fully visible */  
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #31331f !important; /* active bullet color */
}

.prof-name {
    font-size: 28px;
}

.prof-role {
    font-size: 18px;
}