.banner {
    width: 100%;
    height: 100dvh;
    position: relative;    
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    height: 100dvh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 4;
    width: 40%;
    text-align: right
}

.header h1 {
    font-size: 40px;
}

.header p {
    font-size: 20px;
}

.header button {
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: #006539;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;    
    position: absolute;
    bottom: -20%;
    right: 0;
    font-family: "Nunito Sans", sans-serif;
}