.banner {
    width: 100%;
    height: 100dvh;
    background-image: url('../../assets/images/barbershop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adjust opacity here */
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 4;
    width: 40%;
}

.header h1 {
    font-size: 40px;
    font-family: "DM Serif Text", serif;
}

.header p {
    font-size: 20px;
    font-family: "DM Serif Text", serif;
}

.header button {
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: #006539;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    font-family: "DM Serif Text", serif;
}