.banner {
    width: 100%;
    height: 100dvh;
    background-image: url('../../assets/images/barbershop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adjust opacity here */
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
    color: #d5cdbc;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 4;
    width: 40%;
}

.header h1 {
    font-size: 48px;
}

.header p {
    font-size: 24px;
}

.header button {
    margin-top: 20px;
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 40%;
    background-color: #31331f;
    color: #d5cdbc;
    cursor: pointer;
    font-weight: bold;
}