.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006539;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.logo img{
    position: absolute;
    height: 100px;
    padding: 0 20px;
    left: 10px;
    top: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    font-family: "Karla", sans-serif;
}

.links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    bottom: 0;
    left: 0;
}

.links a:hover::after {
    width: 100%;
}