.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.logo-center img{
    height: 90px;
    padding: 0 20px;
    left: 10px;
    top: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

.links .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    position: relative;    
    height: 100%;
}

.links .nav-link::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 1dvw;
    background-image: url('../../assets/images/courgette_vertical.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: height 0.3s ease-in-out;
    transform: rotate(45deg);
    bottom: 60%;
    left: 100%;
    z-index: 10;
}

.links .nav-link:hover::before {
    height: 130%;
}

.lng-dropdown {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    position: absolute;
    right: 30px;
    top: 35px;
    width: 80px;
}

.lng-close {
    display: none;
}

.lng-list {
    background-color: #fff;
    border-radius: 5px;
}

.lng-name {
    background-color: none;
    color: #fff;
}

.lng-name-list {    
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.lng-select {
    text-decoration: none;
}

.lng-name, .lng-name-list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.lng-flag {
    width: 30px;
}

.scrolled {
    background-color: #006539;
}

.mobile-nav {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        height: 85px;
        width: 100dvw;
        position: fixed;
        background-color: #006539 !important;
    }

    .mobile-nav {
        display: flex;
    }

    .logo-mobile img{
        height: 70px;
        display: flex;
    }

    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
        height: auto;
        position: absolute;
        left: 5%;
        top: 30%;
        margin: 0;
        padding: 0;
    }

    .burger input {
        display: block;
        cursor: pointer;
        position: absolute;
        height: 40px;
        width: 40px;
        opacity: 0;
        z-index: 9;
    }

    .burger input:checked ~ span:nth-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(-6px, 5px);
        background: #fff;
        box-shadow: 0 0 2em 0.2em #fff;
    }

    .burger input:checked ~ span:nth-child(3) {
        opacity: 0;
    }

    .burger input:checked ~ span:nth-child(4) {
        display: block;
        transform: rotate(45deg) translate(-5px, -5px);
        opacity: 1;
        margin-top: -3px;
        width: 25px;
        background: #fff;
        box-shadow: 0 0 2em 0.2em #fff;
    }

    .burger span {
        width: 25px;
        height: 3px;
        background: #fff;
        position: relative;
        display: block;
        margin: 4px 0;
        border-radius: 2px;
        transition: all .2s linear;
    }

    .links {
        display: none;
    }

    .lng {
        display: none;
    }

    .links-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #006539;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100dvw;
        height: 85dvh;
        margin: 0;
        padding: 20px 0;
    }

    .links-mobile .nav-logo {
        display: none;
    }

    .links-mobile .nav-link {
        font-size: 28px;
    }

    .lng {
        display: flex;
        position: absolute;
        right: -5%;
        top: -20%;
    }
}