.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #31331f;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.logo img{
    position: absolute;
    height: 120px;
    padding: 0 20px;
    left: 0;
    top: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #d5cdbc;
    font-weight: bold;
    font-size: 18px;
}
