.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.logo img{
    height: 12dvh;
    padding: 0 20px;
    left: 10px;
    top: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
    margin: 0;
}

.links .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    font-family: "DM Serif Text", serif;
}

.links .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    bottom: 0;
    left: 0;
}

.links .nav-link:hover::after {
    width: 100%;
}

select {
    position: absolute;
    right: 30px;
}

.scrolled {
    background-color: #006539;
}