.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.logo img{
    height: 12dvh;
    padding: 0 20px;
    left: 10px;
    top: 10px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
    margin: 0;
}

.links .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    position: relative;    
    height: 100%;
}

.links .nav-link::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 1dvw;
    background-image: url('../../assets/images/courgette_vertical.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: height 0.3s ease-in-out;
    transform: rotate(45deg);
    bottom: 60%;
    left: 100%;
    z-index: 10;
}

.links .nav-link:hover::before {
    height: 130%;
}

select {
    position: absolute;
    right: 30px;
}

.scrolled {
    background-color: #006539;
}

@media (max-width: 768px) {
    
}