html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

section {
  scroll-margin-top: 120px; /* equal to your fixed navbar height */
}