html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

section {
  scroll-margin-top: 120px; /* equal to your fixed navbar height */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  section {
    scroll-margin-top: 85px; /* equal to your fixed navbar height */
    box-sizing: border-box;
  }
}