.footer {
    width: 100%;
    height: 40dvh;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: #EBE6DC;
    font-family: "DM Serif Text", serif;
}

.copyright {
    color: #fff;
    background-color: #006539;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-logo img {
    height: 23dvh;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media img {
    width: 20px;
}

.media-link {
    display: flex;
    gap: 10px;
}

.media-link a {
    color: #000;
    text-decoration: none;
}

.media-link a:hover {
    text-decoration: underline;
}