.footer {
    width: 100%;
    height: 40dvh;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: #EBE6DC;    
}

.copyright {
    color: #fff;
    background-color: #006539;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 23dvh;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.follow {
    margin: 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-media img {
    width: 20px;
}

.media-link {
    display: flex;
    gap: 10px;
}

.media-link a {
    color: #000;
    text-decoration: none;
}

.media-link a:hover {
    text-decoration: underline;
}

.footer-mascot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-mascot img {
    height: 25dvh;
}

@media (max-width: 480px) {
    .footer {
        height: 30dvh;
    }

    .footer-logo img {
        height: 15dvh;
    }

    .footer-mascot img {
        height: 18dvh;
    }

    .follow {
        font-size: 20px;
    }

    .social-media img {
        width: 18px;
        height: 18px;
    }
    
    .media-link a {
        font-size: 14px;
    }

    .copyright {
        font-size: 16px;
    }
}