.about {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 50px;
    background-color: #fff;
    font-family: "DM Serif Text", serif;
}

.about h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.concept {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10%;
    gap: 10%;
}

.about-concept {
    font-size: 18px;
}

.barbershop-img {
    max-width: 60dvh;
    max-height: 60dvh;
    border-radius: 10px;
}