.about {
    width: 100%;
    min-height: 100dvh;
    padding: 70px 30px;
    background-color: #161616;
    font-family: "DM Serif Text", serif;
    color: #fff;
}

.concept {
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
}

.about-concept {
    font-size: 18px;
}

.about-concept h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.about-concept h1 {
    font-size: 96px;
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.about-concept p {    
    font-weight: 300;
}

.about-concept strong {
    font-weight: 600;
}

.nakedman {
    max-width: 40dvw;
    border-radius: 100%;
    border: none;
}