.about {
    width: 100%;
    min-height: 100dvh;
    padding: 70px 30px;
    background-color: #161616;    
    color: #fff;
}

.concept {
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
}

.about-concept {
    font-size: 18px;
}

.about-concept h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.about-concept h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.about-concept p {    
    font-weight: 300;
}

.about-concept strong {
    font-weight: bold;
    color: #006539;
}

.concept-img {
    max-width: 40dvw;
    border-radius: 30%;
    border: none;
}

.concept-img-mobile {
    display: none;
}

@media (max-width: 768px) {
    .about {
        padding-bottom: 20px;
        padding: 0;
    }

    .concept {
        flex-direction: column;
        position: relative;
        padding: 70px 30px;
        padding-bottom: 10px;
    }

    .about-concept h2 {
        order: 1;
    }

    .about-concept h1 {
        order: 2;
    }

    .concept-img {
        display: none;
    }

    .concept-img-mobile {
        display: block;
        height: 120px;
        width: 100%;
        background-color: #fff;
        background-image: url('../../assets/images/concept-mobile.png');
        background-repeat: repeat;
        background-size: contain;
    }
}