.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

.whatsapp-button {
    height: 12vh;
    width: auto;
}

@media (max-width: 480px) {
    .whatsapp-button {
        height: 12vh;
        width: auto;
    }
}