.services {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 8%;
    font-family: "DM Serif Text", serif;
}

.serv-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85dvw;
}

.all-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.all-serv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 25dvh;
    z-index: 1;
}

.serv-img {
    width: 23dvw;
    height: 27dvh;
}

.all-serv:hover {
    opacity: 1;
}

.serv-title {
    width: 20dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.all-serv::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('../../assets/images/courgette.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6; /* only affects the background */
  border-radius: 10px; /* match parent */
  z-index: -1; /* behind the content */
}