.services-container {
    width: 100%;
    min-height: 100dvh;
    background-color: #161616;
    padding-bottom: 70px;
}
.services {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 10%;
    box-sizing: border-box;
    background-color: #161616;
    color: #fff;
}

.services h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.services h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.serv-list {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10%;
    padding-top: 50px;
    margin-bottom: 70px;
}

.serv-items {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin: 0;
}

.serv-name {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 80%;
    padding: 0 15px;
    background-color: #EBE6DC;
    color: #000;
    font-size: 18px;
}

.serv-selected {
    background-color: #ddc594;
}

.serv-description {
    cursor: pointer;
    position: relative;
    width: 40dvw;
}

.serv-description img{
    width: 40dvw;
    height: 40dvh;
    border: 3px solid #ddc594;
    border-radius: 10px;
}

.pattern {
    width: 100%;
    height: 25dvh;
    background-image: url('../../assets/images/pattern.png');
    background-repeat: repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-color: #161616;
}