.services {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 50px;
}

.img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80dvw;
}

.all-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
}

.all-serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serv-img {
    width: 28dvw;
    height: 30dvh;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.serv-img:hover {
    opacity: 1;
}