.services-container {
    width: 100%;
    min-height: 100dvh;
    background-color: #161616;
    padding-bottom: 70px;
}
.services {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 10%;
    box-sizing: border-box;
    background-color: #161616;
    color: #fff;
}

.services h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.services h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.serv-list {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10%;
    padding-top: 50px;
    margin-bottom: 70px;
}

.serv-items {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin: 0;
}

.serv-name {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    box-shadow:
    0px 0px 12px #006539;
    cursor: pointer;
}

/*
.serv-name strong::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 1dvw;
    background-image: url('../../assets/images/courgette_vertical.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: height 0.3s ease-in-out;
    transform: rotate(45deg);
    bottom: 60%;
    left: 105%;
    z-index: 10;
}

.serv-name strong:hover::before {
    height: 130%;
} */

.serv-selected {
    box-shadow:
    0 0 12px #006539,
    0 0 12px #006539,
    0 0 12px #006539;
}

.serv-description {
    cursor: pointer;
    position: relative;
    width: 40dvw;
}

.serv-description img{
    width: 40dvw;
    height: 40dvh;
    box-shadow: 0 0 10px #006539,
    0 0 10px #006539;
    border-radius: 10px;
}

.pattern {
    width: 100%;
    height: 25dvh;
    background-image: url('../../assets/images/pattern.png');
    background-repeat: repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-color: #161616;
}

.serv-items .cta-service {
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 250px;
    background-color: #006539;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}

.serv-mobile {
    display: none;
}

.cta-service-mobile {
    display: none;
}

@media (max-width: 768px) {
    .services-container {
        padding-bottom: 0;
    }

    .serv-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .serv-items {
        display: none;
    }

    .serv-mobile {
        display: flex;
    }

    .serv-options {
        width: 80dvw;
        padding: 15px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #161616;
        border: 3px solid #006539 !important;
        border-radius: 10px;
        box-shadow:
        0 0 8px #006539,
        0 0 12px #006539,
        0 0 16px #006539 !important;
        
    }

    .serv-options:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .serv-description {
        width: 80dvw;
    }

    .serv-description img {
        width: 80dvw;
        height: 35dvh;
        border-radius: 10px;
        box-shadow: none;
    }

    .services a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .services .cta-service-mobile {
        display: block;
        height: 50px;
        border: none;
        border-radius: 10px;
        width: 250px;
        background-color: #006539;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        font-family: "Nunito Sans", sans-serif;
        margin: 0 15px;
    }

    .pattern {
        display: none;
    }
}