.services-container {
    width: 100%;
    min-height: 100dvh;
    background-color: #161616;
    padding-bottom: 70px;
}
.services {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 10%;
    box-sizing: border-box;
    background-color: #161616;
    color: #fff;
}

.services h2 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.services h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.serv-list {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10%;
    padding-top: 50px;
    margin-bottom: 70px;
}

.serv-items {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin: 0;
}

.serv-name {
    display: flex;
    align-items: center;
    list-style: none;
    height: 40px;
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
}

.serv-name strong {
    cursor: pointer;
    position: relative;
}

.serv-name strong::before {
    content: '';
    position: absolute;
    height: 0%;
    width: 1dvw;
    background-image: url('../../assets/images/courgette_vertical.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: height 0.3s ease-in-out;
    transform: rotate(45deg);
    bottom: 60%;
    left: 105%;
    z-index: 10;
}

.serv-name strong:hover::before {
    height: 130%;
}

.serv-selected {
    text-shadow:
    2px 2px 12px #006539,
    3px 3px 12px #006539,
    4px 4px 12px #006539;
}

.serv-description {
    cursor: pointer;
    position: relative;
    width: 40dvw;
}

.serv-description img{
    width: 40dvw;
    height: 40dvh;
    box-shadow: 4px 4px 10px #006539;
}

.pattern {
    width: 100%;
    height: 25dvh;
    background-image: url('../../assets/images/pattern.png');
    background-repeat: repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    background-color: #161616;
}

.serv-items .cta-service {
    height: 50px;
    border: none;
    border-radius: 10px;
    width: 220px;
    background-color: #006539;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    margin: 0 15px;
}