.contact {
    width: 100%;
    min-height: 100dvh;
    padding: 40px 50px;   
    display: flex;
    flex-direction: column;
    background-color: #161616;    
    color: #fff;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.contact-title h1 {
    font-size: clamp(32px, 16vw, 72px);
    margin: 0;
    padding: 0;    
    font-style: italic;
    font-weight: 500;
    color: #006539;
}

.scissor {
    width: 6dvw;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10%;
    padding: 30px;
}

.maps-img {
    width: 35dvw;
    border: none;
    border-radius: 10px;
}

.contacts p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts a {
    color: #fff;
}

.contacts img {
    height: 20px;
}

@media (max-width:480px) {
    .contact {
        padding: 20px 40px;
    }
    .info {
        flex-direction: column-reverse;
    }

    .info-details h3 {
        font-size: 24px;
    }

    .maps-img {
        width: 70dvw;
        border: none;
        border-radius: 10px;
        order: 2;
    }

    br {
        display: none;
    }
}


