.contact {
    width: 100%;
    min-height: 100dvh;
    padding: 40px 50px;   
    display: flex;
    flex-direction: column;
    font-family: "DM Serif Text", serif;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.contact-title h1 {
    font-size: 36px;
}

.pin {
    width: 6dvw;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10%;
    padding: 30px;
}

.maps-img {
    width: 35dvw;
    border: none;
    border-radius: 20px;
}


