.faq {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 50px;
    background-color: #ebe6bc;
}

.faq h1 {
    padding: 0 5%;
}

.questions-cards {
    display: flex;
    gap: 15%;
    padding: 0 5%;
}

.questions {    
    box-sizing: border-box;
}

.question-title {
    border-radius: 10px;
    padding: 0 30px;
    background-color: #23221e;
    color: #ebe5dc;
    width: 40dvw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.question-title:hover {
    background-color: #ebe5dc;
    color: #29150c;
}

.question-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-img img {
    border: none;
    border-radius: 10px;
}

.answer-close {
    display: none;
}
