.faq {
    width: 100%;
    min-height: 100dvh;
    padding: 30px 50px;    
    background-color: #161616;
    color: #fff;
}

.faq h1 {
    font-size: 72px;
    margin: 0;
    padding: 0 0 30px 0;    
    font-style: italic;
    padding-left: 50px;
    font-weight: 500;
    color: #006539;
}

.questions-cards {
    display: flex;
    gap: 15%;
    padding: 0 5%;
    position: relative;
}

.questions {    
    box-sizing: border-box;
}

.question-title {
    border-radius: 10px;
    padding: 0 30px;
    background-color: #006539;
    color: #fff;
    width: 40dvw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.question-title:hover {
    background-color: #9bcd9c;
    color: #000;
}

.question-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
}

.question-img img {
    max-height: 60dvh;
    border-radius: 100%;
    padding-top: 10%;
}

.answer-close {
    display: none;
}

.answer-open {
    padding: 0 20px;
    width: 40dvw;
}
