/* The full-page dark overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-window {
  background: white;
  border-radius: 12px;
  width: 70dvw;
  height: 70dvh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 1px solid black;
}

/* Close button */
.modal-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.modal-button:hover {
  color: #000;
}

/* Image and text */
.modal-image {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.modal-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-text {
  text-align: center;
  color: #333;
}

.no-scroll {
  overflow: hidden;
}
